---
---

//
// IMPORTS
//

// @import "reset";
@import "variables";

body {
  background: url(/assets/circuitboard.jpg);
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}
ol, ul, pre, code {
text-align: start;
}
article {
padding: 10px;
}
.highlight {
  overflow-x: scroll;
}

body { cursor: url(/assets/cursor.png), auto; }

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
