<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
        {% seo title=false %}
        {% include meta.html %}
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
    </head>
    <body>
        <div class="page-width" style="margin: 75px auto;  text-align: center; background-color: white; padding: 20px 0;">
            <marquee>Full Stack and Embedded Developer</marquee>
            <h1>bread.codes</h1>
            <h3>code stuff</h3>
            <span>
                <a href="{{ site.baseurl }}/">Home</a>
                <a href="{{ site.baseurl }}/search">Search</a>
                <a href="{{ site.baseurl }}/about">About</a>
                <a href="{{ site.baseurl }}/archive">Archive</a>
            </span>
            <div>
              {{ content }}
            </div>
        </div>
        <div class="page-width" style="margin: 10px auto; text-align: center;">
            <img src="/assets/ie_logo.gif" /> <img src="/assets/ns_logo.gif" /> <img src="/assets/notepad.gif" />
        </div>
        <div class="page-width" style="margin: 10px auto;  text-align: center;">
            <img src="/assets/pokemon3.gif" /> <a href="mailto:brad@bread.codes"><img src="/assets/emailme.gif" /> <img src="/assets/pokemon3.gif" />
        </div>
    </body>
</html>
