<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
        {% seo title=false %}
        {% include meta.html %}
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
        <style>
            body {
                background: url(/assets/circuitboard.jpg);
                font-family: "Comic Sans MS", "Comic Sans", sans-serif;
            }
            ol, ul, pre, code {
              text-align: start;
            }
            article {
              padding: 10px;
            }
            .highlight {
                overflow-x: scroll;
            }
        </style>
        <style type="text/css">body { cursor: url(/assets/cursor.png), auto; }</style>
    </head>
    <body>
        <div style="margin: 75px auto; width: 600px; text-align: center; background-color: white; padding: 20px 0;">
            <marquee>Full Stack and Embedded Developer</marquee>
            <h1>bread.codes</h1>
            <h3>code stuff</h3>
            <span>
                <a href="{{ site.baseurl }}/">Home</a>
                <a href="{{ site.baseurl }}/search">Search</a>
                <a href="{{ site.baseurl }}/about">About</a>
                <a href="{{ site.baseurl }}/archive">Archive</a>
            </span>
            <div>
              {{ content }}
            </div>
        </div>
        <div style="margin: 10px auto; width: 600px; text-align: center;">
            <img src="/assets/ie_logo.gif" /> <img src="/assets/ns_logo.gif" /> <img src="/assets/notepad.gif" />
        </div>
        <div style="margin: 10px auto; width: 600px; text-align: center;">
            <img src="/assets/pokemon3.gif" /> <a href="mailto:brad@bread.codes"><img src="/assets/emailme.gif" /> <img src="/assets/pokemon3.gif" />
        </div>
    </body>
</html>
